@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: #f9f9f9;
}

h1 {
  @apply mb-5 
  text-5xl
  font-bold 
  /* text-neutral-900  */
  md:text-6xl
  2xl:text-7xl;
  line-height: 1.1;
}

h2 {
  @apply mb-5 
  text-2xl 
  font-light
  text-neutral-800
  lg:text-3xl;
}

h3 {
  @apply text-4xl 
  font-bold 
  text-neutral-800
  xl:text-5xl;
}

h4 {
  @apply mb-2 
  text-2xl 
  font-bold 
  text-neutral-700;
}

h5 {
  @apply mb-2 
  text-3xl 
  font-bold 
  text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-3;
}

p {
  @apply /*
   */ 
   mb-5 
   font-light
   lg:text-lg;
}

/* core structure */

/* custom structure is the core container for this project, we don't want the content to get too wide or also too close to the sides.s */
/* .custom-structure {
  @apply flex
  w-full
  max-w-[2000px]
  items-center
  px-5
  md:px-20
  lg:px-32;
} */

section, header {
  @apply 
  flex
  flex-col
  items-center
  justify-center
  w-full
  px-5
  md:px-20
  lg:px-32
}

.core-structure {
  @apply 
  max-w-[2000px]
}