@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: #f9f9f9;
}

h1 {
  @apply text-6xl lg:text-6xl 2xl:text-7xl font-bold mb-5 text-neutral-900
}

h2 {
  @apply text-3xl lg:text-4xl font-light mb-5 text-neutral-800;
}

h3 {
  @apply text-6xl lg:text-7xl font-semibold mb-2 text-neutral-700;
}

h4 {
  @apply text-5xl font-bold mb-2 text-neutral-700;
}

p {
  @apply text-lg font-light mb-5 text-neutral-900;
}